@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.dark-bg{
    background-color: #3A3A3A;
}
.green-bg{
    background-color: #BDFF00;
}
small{
    font-weight: 700;
}
nav .container{
    padding: 0;
}
#hero .container{
    padding: 7rem 0;
}
.green-text{
    color: #BDFF00;
}
.brand-name{

    font-size: 2rem;
    text-decoration: none;
    font-weight: 900;
}
.green-cta{
    text-decoration: none;
    color: black;
    font-weight: 700;
    padding: .8rem 1.5rem;
    border-radius: 5px;
    background-color: #BDFF00;
    border: 1px solid transparent;
    transition: all .3s ease;
    margin-right: 1rem;
}
.green-cta:hover{
    background-color: transparent;
    border: 1px solid #BDFF00;
    color: #BDFF00;
}
.cream-cta{
    text-decoration: none;
    color: black;
    font-weight: 700;
    padding: .8rem 1.5rem;
    border-radius: 5px;
    background-color: #D9D9D9;
    border: 1px solid transparent;
    transition: all .3s ease;
}
.cream-cta:hover{
    border: 1px solid #D9D9D9;
    background-color: transparent;
    color: #D9D9D9;
}
#about{
    margin: 5rem 0;
}
#about .container{
    margin-top: 2rem;
}
#portfolio-skill{
    background-image: linear-gradient(to bottom, #BDFF00, #3a3a3ad7, #3A3A3A);
}
.skills span > span{
    display: inline-block;
    height: 10px;
    background-color: #BDFF00;
}
.html span > span{
    width: 95%;
}
.css span > span{
    width: 90%;
}
.bootstrap span > span{
    width: 80%;
}
.tailwind span > span{
    width: 80%;
}
.js span > span{
    width: 40%;
}




@media screen and (max-width:576px) {
    .green-cta, .cream-cta{
        font-size: .8rem;
        margin: .5rem 0;
    }
    .btn-group{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}